
    <html>
    <title>@Page.Title</title>

@{
    string  act = "";

    @*@ViewBag.uactivity;
        @ViewBag.tactivity;
        @ViewBag.cactivity;
        @ViewBag.chactivity;
        @ViewBag.sactivity;
        @ViewBag.gactivity;*@

if (@ViewBag.uactivity == "active")
{
    act = "active";

}


if (@ViewBag.tactivity == "active")
{
    act = "active";

}


if (@ViewBag.cactivity == "active")
{
    act = "active";

}

if (@ViewBag.chactivity == "active")
{
    act = "active";

}


if (@ViewBag.sactivity == "active")
{
    act = "active";

}


if (@ViewBag.gactivity == "active")
{
    act = "active";
}

}

    <head>
        @RenderSection("head", required: false)
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css">*@
        @*<link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css">*@
        <link rel="stylesheet" type="text/css" href="~/Content/bootstrap1.min.css">
        <!--different screen for mobile-->
        <link rel="stylesheet" media="only screen and (width: 411px) and (height: 731px)" href="~/Content/pixel2.css">
        <script src="@Url.Content("~/Scripts/jquery.min.js")"></script>
        <script src="@Url.Content("~/Scripts/progressbar.min.js")"></script>
        @RenderSection("Scripts", false/*required*/)

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1"> <!--pour les mobiles-->
        <meta content='maximum-scale=1.0, initial-scale=1.0, width=device-width' name='viewport'>

        
      
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lettering.js/0.7.0/jquery.lettering.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,400,700" rel="stylesheet">
        <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css'>
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.16/d3.min.js"></script>
      
        <script>
            AOS.init();
        </script>
    </head>

<body>


            <!---------
        <body>
            <!-----------------------------------------BARRE DE NAVIGATION------------------------------------------------>
            <div class="sticky-top shadow-lg bg-white">
                <nav class="navbar navbar-expand-md navbar-dark white">

                    @if (ViewBag.currentPage != null)
                    {
                        <input class="btn text-dark btnsize shadow" type="button" value="Admin" id="sidebarCollapse" style="background-color:black;" />
                    }
                    <button class="navbar-toggler align-self-start float-right mt-2" type="button" data-toggle="collapse" data-target="#navbarSupportedContentLG" aria-controls="navbarSupportedContentLG" aria-expanded="false" aria-label="Toggle navigation" style="width:40px;">
                        @*<span class="navbar-toggler-icon"></span>*@
                        <a><img class="navbar-brand" src="http://vps64363.lws-hosting.com/Img/sandwich.png" /></a>
                    </button>

                    <div class="collapse navbar-collapse mobileMenu" id="navbarSupportedContentLG">
                        <a href="#" style="font-size:3.5vw; hover{background: none;}"><img class="navbar-brand" src="http://vps64363.lws-hosting.com/Img/ousraty.png"/></a>
                        <ul class="navbar-nav mr-auto float-right" style="color:black;">
                            <li class="nav-item " style="color:black">
                                <a class="nav-link" style="font-size:1.5vw;" href="#">Forum</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" style="font-size:1.5vw;" href="#">Blog</a>
                            </li>
                            <li class="nav-item" >
                                <a class="nav-link bg-warning rounded-pill pl-5 pr-5 text-white" style="font-size:1.5vw;" href="@Url.Action("Index", "Home")">Formations</a>
                            </li>
                            <li class="nav-item borderAccount">
                                <a></a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" style="font-size:1.5vw;" href="@Url.Action("Index", "Home")"><img class="account" src="http://vps64363.lws-hosting.com/Img/profil.png" />Mon compte</a>
                            </li>

                            <li class="nav-item act float-right">
                                @if (ViewBag.Role == 1 || ViewBag.Role == 3)
                                {
                                    <a class="nav-link" href="@Url.Action("AdminUser", "User_")">Administration</a>
                                }
                            </li>
                        </ul>
                        @Html.Partial("_LoginPartial")
                    </div>
                </nav>
            
                </div>

    <!-- Navigation -->
    @*<header id="topnav" class="pb-5">
        <div class="inner navbar-expand-md">       
            <nav role='navigation'>
                    <img src="http://vps64363.lws-hosting.com/Img/ousraty.png" style="width:8%; margin-left:350px;" />
                    <ul class="float-right">
                        <li><a style="width:5%; height:auto; margin-left:100px;" href="#" class="font-weight-bold">Forum</a></li>
                        <li><a href="#" class="font-weight-bold">Blog</a></li>
                        <li><a class="text-white bg-warning rounded-pill font-weight-bold" href="#">Formations</a></li>
                        <li><a href="#">|</a></li>
                        <li>
                            <img src="http://vps64363.lws-hosting.com/Img/profil.png" style="width:5%;" />
                            <a href="@Url.Action("Login", "Account")" class="font-weight-bold">Mon compte</a>

                        </li>
                    </ul>
            </nav>
        </div>
    </header>*@

@*--------------------------------ENTETE------------------------------------------------------------>*@
            @*<div style="overflow-x: hidden;">*@ <!--cette div me permet de supprimer le horizontal scroll bar sur tel et de garder le menu stiky top-->
 
                @RenderBody()

                @Scripts.Render("~/bundles/jquery")
                @Scripts.Render("~/bundles/bootstrap")
         
</body>
    @Html.Partial("_FooterPartial")

</html>

@*<script>
    $(window).scroll(function () {
        if ($(document).scrollTop() > 100) {
            $('.navbar').addClass('color-change');
        } else {
            $('.navbar').removeClass('color-change');
        }
    });
</script>*@


<script>
    $(document).ready(function () {
        $(window).scroll(function () {
            var scrollTop = $(window).scrollTop();
            if (scrollTop > 49) {
                $('body').addClass('header-fixed');
            } else {
                $('body').removeClass('header-fixed');
            }
            // change the style of the navbar when the user scrolls into the next zone.
            // get the distance of the 2nd section from the top of the page - height of header.
            var topOffset = $('#demosection2').offset().top;
            var headerHeight = $('#topnav').height();
            var transitionPoint = topOffset - headerHeight;
            if (scrollTop > transitionPoint) {
                $('#topnav').addClass('alt-header');
            } else {
                $('#topnav').removeClass('alt-header');
            }
        });
    });
</script>