@model ELearning.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Changer le mot de passe";
}

<!-------------------------------------------------------------HEADER---------------------------------------------------------------------->
<div class="jumbotron-fluid col-12 col-md-12 col-lg-12 mx-auto backgroundHome pb-5">
    <header>
        <!-----------------------------------------TEXT DU HEADER------------------------------------------------>
        <h1 class="animated bounceInDown text-white text-center bigtitlePosition" style="font-size:8vw;"><b class="text-info">C</b>hanger mot de passe</h1>
        <span class="animated bounce centered"></span>
    </header>
</div>

<!-------------------------------------------------------------FIN HEADER---------------------------------------------------------------------->
<div class="container-fluid pt-5">
    <section class="container col-lg-6 col-md-12 col-12 col-lg-offset-3 bg-light shadow pt-5 ">
        @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h3 class="text-muted">Nouveau mot de passe</h3>
            <hr class="hrColor" />
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.OldPassword, new { @class = "control-label" })
                <div>
                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.NewPassword, new { @class = "control-label" })
                <div>
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = " control-label" })
                <div>
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Changer le mot de passe" class="btn btn-info" />
                </div>
            </div>
        }
    </section>
</div>
<div style="height:500px;"></div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}