@model ELearning.Models.RegisterViewModel
@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<head>

    @if (Model.message != null)
    {
        var m = new MvcHtmlString(Model.message);
        <script>
            window.onload = function () {
                alert("@m");
                 window.location.href = "@Url.Action("Login")";
            };
        </script>
    }

</head>





<h1 class=" col-lg-12 col-md-12 col-12 animated bounceInDown textmargin text-center text-white" style="font-size:8vw;"><b class="text-info">I</b>nscription</h1>

<div class="container-fluid col-10 col-md-10 col-lg-10 bg-dark" style="opacity:0.8">
    <div class=" container text-white" data-aos="flip-right">


                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <h4 class="text-white pt-3">Créer un nouveau compte.</h4>
                    <hr class="hrColor" />
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 col-lg-12 control-label" })
                        <div class="col-md-12 col-lg-12">
                            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })
                        <div class="col-md-12 col-lg-12">
                            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                        <div class="col-md-12 col-lg-12">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        </div>
                    </div>


                    <div class="form-group">
                        @Html.LabelFor(model => model.SelectedSexe, "Sexe", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-12 col-lg-12">
                            @Html.DropDownListFor(model => model.SelectedSexe, new SelectList(Model.ListSexe, "Value", "Text"), "Selectionner votre sexe", htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.SelectedSexe, "", new { @class = "text-danger" })
                        </div>
                    </div>



                    <div class="form-group">
                        @Html.LabelFor(model => model.SelectedGroupe, "Classe", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-12 col-lg-12">
                            @Html.DropDownListFor(model => model.SelectedGroupe, new SelectList(Model.ListGroupes, "Value", "Text"), "Selectionner votre classe", htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.SelectedGroupe, "", new { @class = "text-danger" })
                        </div>
                    </div>



                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-8 col-lg-12 control-label" })
                        <div class="col-md-12 col-lg-12">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-8 col-lg-12 control-label" })
                        <div class="col-md-12 col-lg-12">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-12 col-lg-12 pb-5">
                            <input type="submit" class="btn btn-info" value="S’inscrire" />
                            @Html.ActionLink(" | Connexion", "Login")
                        </div>
                    </div>
                }

                @section Scripts {
                    @Scripts.Render("~/bundles/jqueryval")
                }

    </div>
</div>


<!--script effet du fade sur les image(arrivage des images petit a petit)-->
<script src="~/Scripts/aos.js"></script>
<script>
    AOS.init({
        easing: 'ease-in-out-sine'
    });
</script>