@model ELearning.Models.User_

@{
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>User_</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.last_name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.last_name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.first_name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.first_name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.mail)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.mail)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.type)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.type)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.user_asp_net_id)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.user_asp_net_id)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Group_.name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Group_.name)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
